/*  Crystal Collector CSS Styling*/
body { 
	background-image: url(../images/Cave.jpg);
	background-size: 100% auto;	
}

.jumbotron{ opacity: 0.6; }

button { background-opacity: 0.3; }

.btn{ cursor: url(../images/pickaxe.cur), auto; }

